# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Local configuration
local.properties

# APKs
*.apk

# App bundles
*.aab

# Release outputs
app/release/

# Baseline profiles
*.dm
baselineProfiles/

# Logs
*.log
